extend ../layouts/common

block container
  .form-login
    form(method='POST')
      h2.form__heading &Dstrok;&abreve;ng Nhập
      if errs
        each err in errs
          .alert-danger= err
      .form__row
        input.form__input(type='text' required='' name='phone' 
        placeholder='Số điện thoại' value=values.phone?values.phone : '')
      .form__row
        input.form__input(type='password' required='' name='password' placeholder='Mật khẩu')
      .form__row
        .lable-login
          | B&#x1EA1;n chưa c&oacute; t&agrave;i kho&#x1EA3;n? 
          a.lable-login-link(href='/auth/register')  &Dstrok;&abreve;ng ký
      .form__row
        input.btn.btn-submit(type='submit' value='Đăng Nhập')
