extend ./index
block contentHeader
  span.title-page Tất cả đơn hàng
block content
  .bill-box
    .bill-box__top
      .bill-box__top-nav
        a.bill-box__top-item(href='/bill') Tất cả
        a.bill-box__top-item(href='/') Chờ xác nhận
        a.bill-box__top-item(href='/') Đang giao
        a.bill-box__top-item(href='/') Đã giao
        a.bill-box__top-item(href='/') Đã huỷ
      .bill-box__top-search
        form(action="", method="get")
          input.bill-box__top-input(value = value || '', name='q' placeholder='Tìm đơn hàng')
          input.btn.btn-primary.bill-box__top-btn(type="submit", value="Tìm")
    block table
      .bill-box__body
        .cart
          .cart-bar
            .cart-bar__product Sản phẩm
            .cart-bar__unit-price Trạng thái
            .cart-bar__quantum Số lượng
            .cart-bar__price-bill Thanh tiền
            .cart-bar__handle Chi tiết
          each product, i in products
            .cart-item
              .cart-item__product
                .cart-item__img
                  img(src=product.image, alt='')
                a(href='/detail/'+product.id).cart-item__name= product.name
              if(bills[i].state)
                .cart-item__unit-price.bill-confirm.active Đã xác nhận
              else
                .cart-item__unit-price.bill-confirm Chờ xác nhận
              .cart-item__quantum= 1
              .cart-item__bill-price= (product.price).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
              .cart-item__handle
                a.cart-item__delete(href='/seller/bill/'+bills[i].id) Chi tiết
          .pagination
            ul.pagination__list
              li.pagination__item
                if(hasPrevPage)
                  a.pagination__link(href='?page=' + prevPage)
                    i.pagination__link-icon.fas.fa-angle-left
                else
                  a.pagination__link.disabled-link
                    i.pagination__link-icon.fas.fa-angle-left
              - var n = 0
                while n < totalPages
                  li.pagination__item
                    if(page === ++n)
                      a.pagination__link.pagination__link--active(href='?page=' + n)= n
                    else
                      a.pagination__link(href='?page=' + n)= n
              li.pagination__item
                if(hasNextPage)
                  a.pagination__link(href='?page=' + nextPage)
                    i.pagination__link-icon.fas.fa-angle-right
                else
                  a.pagination__link.disabled-link(href='?page=' + nextPage)
                    i.pagination__link-icon.fas.fa-angle-right
        if !bills[0]
          p Chưa có đơn hàng nào!
