//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   title M&#x1EF9; ph&#x1EA9;m 3ce
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')

//- .app
//-   block header
//-     h1 Login
//-   block contaier
//-     if(errs)
//-       for err in errs
//-         .alert.alert-danger.w-50.mx-auto= err
//-     form(method='POST').w-50.mx-auto
//-       .form-group
//-         label(for='phone') Số điện thoại
//-         input#phone.form-control(type='text' name='phone' value=values.phone?values.phone : '' required)
//-       .form-group
//-         label(for='pwRegister') Mật khẩu
//-         input#pwRegister.form-control(type='password' name='password'  required)
//-       button.btn.btn-primary(type='submit') Đăng Nhập

extend ./index

block container
  .form-login
    form(method='POST')
      h2.form__heading &Dstrok;&abreve;ng Nhập
      .form__row
        input.form__input(type='text' required='' name='phone' 
        placeholder='Số điện thoại' value=values.phone?values.phone : '')
      .form__row
        input.form__input(type='password' required='' name='password' placeholder='Mật khẩu')
      .form__row
        .lable-login
          | B&#x1EA1;n chưa c&oacute; t&agrave;i kho&#x1EA3;n? 
          a.lable-login-link(href='/auth/register')  &Dstrok;&abreve;ng ký
      .form__row
        input.btn.btn-submit(type='submit' value='Đăng Nhập')
